body {
    font-family: "Roboto Flex", sans-serif;
    background-color: #8282dc; /* Light background to contrast */
    color: #0c2340; /* Notre Dame Blue */
    margin: 0;
    padding: 0;
}

.headerBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #565a89;
    padding: 20px 0;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.navLink {
    padding: 12px 24px;
    margin: 10px;
    text-decoration: none;
    color: white;
    background-color: #6b7acb;
    border-radius: 8px;
    font-size: 1.5em;
    transition: background-color 0.3s, transform 0.2s;
}

.navLink:hover {
    background-color: #8282fc;
    transform: scale(1.05);
    color: white;
}

/* Headings */
h1, h2 {
    text-align: center;
    font-weight: bold;
}

h1 {
    font-size: 2.5em;
    margin-top: 20px;
    color: #c99700; /* Standard Dome Gold */
}

h2 {
    font-size: 1.8em;
    margin-top: 0;
    color: #0c2340; /* Notre Dame Blue */
}

/* Divs and Modules */
div {
    margin: 20px 20px 40px 20px;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-flow: column;
}

.module {
    background-color: #efefff; /* Source of light background div color */
}

/* Lists */
ol {
    padding-left: 40px;
    list-style-type: decimal;
    color: #0c2340; /* Notre Dame Blue */
}

li {
    margin-bottom: 10px;
}

li:hover {
    color: #c99700;
}

/* Hidden Element */
#highlighter {
    background-color: #0f0f0f;
    display: none;
}

/* Day List */
.dayList {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style: none;
}

.dayList button {
    display: flex;
}

/* Inputs */
input {
    padding: 5px;
    margin: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="checkbox"] {
    margin: 10px;
}

input[type="submit"] {
    padding: 12px;
    background-color: #8282fc;
    border-radius: 6px;
}

input[type="submit"]:hover {
    background-color: #8282dc;
}

input[type="radio"],
input[type="checkbox"] {
    transform: scale(1.5);
    margin: 10px;
}

/* Buttons */
button {
    padding: 12px;
    background-color: #8282fc;
    border-radius: 6px;
}

button:hover {
    background-color: #8282dc;
}

select {
    height: 40px;
	border-radius: 6px;
	font-size: 1.1em;
}

/* Authentication Buttons */
.authButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}
